<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Bhojpur Application</title>
		<meta name="author" content="Shashi Bhushan Rai" />
		<meta name="copyright" content="Bhojpur Consulting Private Limited, India. All rights reserved." />
		<meta name="description" content="A web-scale distributed application using WebAssembly" />
		<meta name="theme-color" content="#000000" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="shortcut icon" type="image/jpg" href="https://static.bhojpur.net/favicon.ico"/>
		<meta name="robots" content="index,nofollow"/>
		<style>
			body {
				height: 100%;
				width: 100%;
				padding: 0;
				margin: 0;
				background-color: #FFFFFF;
				color: #000000;
				font-family: Arial, Helvetica, sans-serif
			}
		</style>
		{{if not .IsReleased}}
			<script type="text/javascript" src="webgl-debug.js"></script>
		{{end}}
		{{if .HasWasm}}
			<script>var wasmBuild = true;</script>
		{{else}}
			<script>var wasmBuild = false;</script>
		{{end}}
		{{if .HasGopherJS}}
			<script>var gopherJSBuild = true;</script>
		{{else}}
			<script>var gopherJSBuild = false;</script>
		{{end}}
		<script>
			function async_load(file, cb) {
				var d = document, t = 'script',
      			o = d.createElement(t),
      			s = d.getElementsByTagName(t)[0];
  				o.src = file;
  				o.addEventListener('load', function (e) { cb(e); }, false);
  				s.parentNode.insertBefore(o, s);
			}

			function webgl_support () {
					try {
					var canvas = document.createElement('canvas');
					return !!window.WebGLRenderingContext &&
						(canvas.getContext('webgl') || canvas.getContext('experimental-webgl'));
				} catch(e) {
					return false;
				}
			}

			function download_application() {
				var main = document.getElementById("main");

				if (webgl_support()) {
					if (wasmBuild && WebAssembly) {
						main.innerHTML = "Downloading wasm_exec.js integration file"
						async_load("wasm_exec.js", function(){
							// WebAssembly.instantiateStreaming is not currently available in Safari
							if (WebAssembly && !WebAssembly.instantiateStreaming) { // polyfill
								WebAssembly.instantiateStreaming = async (resp, importObject) => {
									const source = await (await resp).arrayBuffer();
									return await WebAssembly.instantiate(source, importObject);
								};
							}

							main.innerHTML = "Downloading application web assembly file.";

							const go = new Go();
							WebAssembly.instantiateStreaming(fetch("{{.WasmFile}}"), go.importObject).then((result) => {
								main.innerHTML = "";
								go.run(result.instance);
							});
						})
					} else if (gopherJSBuild) {
						main.innerHTML = "Downloading GopherJS file.";

						async_load("{{.GopherJSFile}}", function(){
							main.innerHTML = "";
						});
					} else {
						main.innerHTML = "WebAssembly is not supported in your web browser";
					}
				} else {
					main.innerHTML = "WebGL is not supported in your web browser";
				}
			}
		</script>
	</head>
	<body onload="download_application()">
		<div id="main"></div>
		<noscript>Javascript need to be enable for this Bhojpur GUI application to work.</noscript>
	</body>
</html>